
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
	/*-----------------*/
	.section {
	    height: 100%;
	    padding: 5% 2%;
	}
	/*----------------*/
	.navbar {
	    display: none;
	}
	li.nav-item {
	    margin: 0% !important;
	    padding: 0 !important;
	    width: 100% !important;
	}
	.navbar .nav-pills>.nav-item .nav-link {
	    padding: 3%;
	    text-align: center;
	}
	.navbar .nav-pills>.nav-item .nav-link.active {
	    background: #77b7ff;
	    border-bottom: 2px solid #ffffff;
	    color: #272759;
	    border-radius: 0;
	    font-weight: 600;
	    min-width: fit-content;
	    text-align: center;
	}
	.navbar .navbar-toggler {
	    border-width: 0;
	    outline: 0;
	    position: relative;
	    left: 43%;
	    top: 0;
	    z-index: 999;
	}
	.navbar-expand-lg .navbar-collapse {
	    width: 100%;
	    position: fixed;
	    left: 0;
	    background: #fff;
	    z-index: 99;
	    padding: 11% 0;
	    height: 100%;
	    transition: all 1s ease;
	    border-bottom: 2px solid #77b7ff;
	}
	section#home1 {
	    min-height: 100%;
	}
	#home1 .blue_card {
	    position: absolute;
	    top: 39%;
	    right: 0;
	    height: auto;
	    width: 100%;
	    background: #77b7ff;
	    z-index: -3;
	    font-size: 13px;
	    color: #27285a;
	    padding: 0 0 0 6%;
	}
	#home1 .gray_card {
	    position: absolute;
	    top: 0;
	    right: 2%;
	    height: 70%;
	    width: 96%;
	    background: #ffffff;
	    z-index: 1;
	    mix-blend-mode: multiply;
	    box-shadow: 20px -20px 69px -27px rgb(2 2 2 / 35%);
	}
	#home1 .gray_card img.img-fluid {
	    position: absolute;
	    top: 3%;
	    right: 1%;
	    width: 31%;
	    background: #fff;
	}
	#home1 .gray_card .text {
	    position: absolute;
	    top: 2%;
	    left: 0;
	    right: 0;
	    max-width: 95%;
	    padding-left: 20px;
	    padding-right: 3em;
	}
	#home1 .gray_card .text h1 {
	    font-size: 35px;
	    font-weight: 700;
	}
	.p-5 {
	    padding: 1.5rem!important;
	}
	#home1 .counter-wrap {
	    bottom: -66px;
	}
	#home1 .counter-wrap .number {
	    font-size: 40px;
	    width: auto;
	}
	/*----------skills-----------*/
	section#skills {
	    margin-top: 14%;
	    min-height: auto;
	}
	#services .heading-section {
	    margin: 0;
	    padding: 0;
	}
	#services .row.mt-5 {
	    margin: 0;
	    padding: 0;
	}
	.skill_bars.mt-5 {
	    padding-top: 19%;
	}
	#skills .gray_card {
	    height: 33px;
	    width: 53%;
	    background: none;
	}
	#skills .heading-section.fadeInUp.animated.pb-4 {
	    padding: 6%;
	}
 	#skills .blue_card {
	    top: 4%;
	    height: 75px;
	    width: 94%;
	    background: #fff;
	    box-shadow: none;
	}
 	#skills .heading-section h2 {
	    font-size: 30px;
	}
	#skills .skill_bars li {
	    height: 165px;
	    width: 47%;
	}
	#skills .skill_bars li {
	    height: 104px;
	    width: 30%;
	    font-size: 9px;
	    padding: 0;
	}
	#skills .logo {
	    width: 111px;
	    height: auto;
	    padding-top: 4%;
	}
	#skills .logo .img-fluid {
	    max-width: 52%;
	    height: auto;
	}
	/*------services----------*/
	section#services {
	    height: fit-content;
	    padding: 2% 0;
	}
	#services .heading-section h2 {
	    margin-bottom: 0rem!important;
	    padding-left: 12%;
	}
	#services .card {
	    margin: 0% 0% 17% 3%;
	    border: 2px solid #edf6ff;
	}
	section#portfolio #pills-tab li {
	    width: 50%!important
	}
	section#portfolio #pills-tab li .nav-link {
	    padding: 2%;
	    border: 1px solid #f7f7f7;
	    min-width: 100px!important;
	    font-size: inherit;
	}
	/*----------portfolio-------*/
	#portfolio .heading-section h2 {
	    font-size: 30px;
	    padding-left: 12%;
	}
	section#portfolio #logo ul li {
	    margin: 1.3%;
	    max-width: 153px;
	}
	section#portfolio #dashboard ul li {
	    width: 98.5%;
	}
	section#portfolio #app ul li {
	    width: 98.5%;
	}
	section#portfolio #website ul li {
	    width: 99.5%;
	}
	#portfolio .Portfolio .teams-bar1:hover .proj_details h2 {
	    font-weight: 700;
	    font-size: 1rem;
	}
	#portfolio .Portfolio .teams-bar1:hover .proj_details {
	    font-size: 10px;
	}
	#portfolio #app .proj_details .h2, h2 {
	    font-size: 1rem;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	/*-----------------*/
	.section {
	    height: 100%;
	    padding: 5% 2%;
	}
	/*----------------*/
	.navbar {
	    display: none;
	}
	li.nav-item {
	    margin: 0% !important;
	    padding: 0 !important;
	    width: 100% !important;
	}
	.navbar .nav-pills>.nav-item .nav-link {
	    padding: 3%;
	    text-align: center;
	}
	.navbar .nav-pills>.nav-item .nav-link.active {
	    background: #77b7ff;
	    border-bottom: 2px solid #ffffff;
	    color: #272759;
	    border-radius: 0;
	    font-weight: 600;
	    min-width: fit-content;
	    text-align: center;
	}
	.navbar .navbar-toggler {
	    border-width: 0;
	    outline: 0;
	    position: relative;
	    left: 43%;
	    top: 0;
	    z-index: 999;
	}
	.navbar-expand-lg .navbar-collapse {
	    width: 100%;
	    position: fixed;
	    left: 0;
	    background: #fff;
	    z-index: 99;
	    padding: 11% 0;
	    height: 100%;
	    transition: all 1s ease;
	    border-bottom: 2px solid #77b7ff;
	}
	section#home1 {
	    min-height: 100%;
	}
	#home1 .blue_card {
	    position: absolute;
	    top: 39%;
	    right: 0;
	    height: auto;
	    width: 100%;
	    background: #77b7ff;
	    z-index: -3;
	    font-size: 13px;
	    color: #27285a;
	    padding: 0 0 0 6%;
	}
	#home1 .gray_card {
	    position: absolute;
	    top: 0;
	    right: 2%;
	    height: 70%;
	    width: 96%;
	    background: #ffffff;
	    z-index: 1;
	    mix-blend-mode: multiply;
	    box-shadow: 20px -20px 69px -27px rgb(2 2 2 / 35%);
	}
	#home1 .gray_card img.img-fluid {
	    position: absolute;
	    top: 3%;
	    right: 1%;
	    width: 31%;
	    background: #fff;
	}
	#home1 .gray_card .text {
	    position: absolute;
	    top: 31%;
	    left: 0;
	    right: 0;
	    max-width: 95%;
	    padding-left: 20px;
	    padding-right: 3em;
	}
	#home1 .gray_card .text h1 {
	    font-size: 35px;
	    font-weight: 700;
	}
	.p-5 {
	    padding: 1.5rem!important;
	}
	#home1 .counter-wrap {
	    bottom: -66px;
	}
	#home1 .counter-wrap .number {
	    font-size: 40px;
	    width: auto;
	}
	/*----------skills-----------*/
	section#skills {
	    margin-top: 14%;
	    min-height: auto;
	}
	#services .heading-section {
	    margin: 0;
	    padding: 0;
	}
	#services .row.mt-5 {
	    margin: 0;
	    padding: 0;
	}
	.skill_bars.mt-5 {
	    padding-top: 19%;
	}
	#skills .gray_card {
	    height: 33px;
	    width: 53%;
	    background: none;
	}
	#skills .heading-section.fadeInUp.animated.pb-4 {
	    padding: 6%;
	}
 	#skills .blue_card {
	    top: 4%;
	    height: 75px;
	    width: 94%;
	    background: #fff;
	    box-shadow: none;
	}
 	#skills .heading-section h2 {
	    font-size: 30px;
	}
	#skills .skill_bars li {
	    height: 165px;
	    width: 47%;
	}
	#skills .skill_bars li {
	    height: 104px;
	    width: 30%;
	    font-size: 9px;
	    padding: 0;
	}
	#skills .logo {
	    width: 111px;
	    height: auto;
	    padding-top: 4%;
	}
	#skills .logo .img-fluid {
	    max-width: 52%;
	    height: auto;
	}
	/*------services----------*/
	section#services {
	    height: fit-content;
	    padding: 2% 0;
	}
	#services .heading-section h2 {
	    margin-bottom: 0rem!important;
	    padding-left: 12%;
	}
	#services .card {
	    margin: 0% 0% 17% 3%;
	    border: 2px solid #edf6ff;
	}
	section#portfolio #pills-tab li {
	    width: auto!important;
	}
	section#portfolio #pills-tab li .nav-link {
	    padding: 2%;
	    border: 1px solid #f7f7f7;
	    min-width: 100px!important;
	    font-size: inherit;
	}
	/*----------portfolio-------*/
	#portfolio .heading-section h2 {
	    font-size: 30px;
	    padding-left: 12%;
	}
	section#portfolio #logo ul li {
	    margin: 1.3%;
	    max-width: 153px;
	}
	section#portfolio #dashboard ul li {
	    width: 98.5%;
	}
	section#portfolio #app ul li {
	    width: 98.5%;
	}
	section#portfolio #website ul li {
	    width: 99.5%;
	}
	#portfolio .Portfolio .teams-bar1:hover .proj_details h2 {
	    font-weight: 700;
	    font-size: 1rem;
	}
	#portfolio .Portfolio .teams-bar1:hover .proj_details {
	    font-size: 10px;
	}
	#portfolio #app .proj_details .h2, h2 {
	    font-size: 1rem;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
	.p-5 {
	    padding: 1.5rem!important;
	}
	#home1 .blue_card {
	    height: 440px;
	    width: 43%;
	    font-size: 13px;
	    padding: 0 0 0 6%;
	}
	#home1 .heading-section h2 {
	    font-size: 30px;
	}
	#home1 .gray_card {
	    top: 20px;
	    right: 39%;
	    height: 330px;
	}
	#home1 .gray_card .text h1 {
	    font-size: 35px;
	    font-weight: 700;
	}
	.h3, h3 {
	    font-size: 1rem;
	}
	#home1 .counter-wrap .number {
	    font-size: 45px;
	    font-weight: 600;
	    display: inline-flex;
	    width: auto;
	    line-height: 60px;
	}
	#home1 .gray_card .text {
		top: 20px;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 

	 
	section#home1 {
	    min-height: 210px;
        height: 530px;
	}
	#home1 .blue_card {
	    width: 44%;
	    padding: 0 0 0 6%;
	}
	#home1 .gray_card {
	    top: 20px;
        right: 40%;
        height: 360px	;
        width: 40%;
	}
	#home1 .gray_card .text {
	    top: 20px;
	    left: 8%;
	    right: 0;
	    max-width: 95%;
	}
	section#skills {
	    min-height: auto;
	}
	/*==================================*/
	.col-lg-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.col-xl-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}

}
/*// ipad */
/*@media (width: 768px) and (height: : 1024px) { 
	 

}*/

@media (min-width: 1200px){
	/*==================================*/
	.col-lg-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.col-xl-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1365) { 

	 #home1 .blue_card {
	    top: 0;
	    right: 0;
	    min-height: 55%;
	    height: max-content;
	    width: 44%;
	}
	#home1 .gray_card {
	    position: absolute;
	    top: 22%;
	    right: 40%;
	    min-height: 65%;
	    height: max-content;
	    width: 40%;
	}
	#home1 .gray_card .text h1 {
	    font-size: 55px;
	    font-weight: 700;
	}
	/*==================================*/
	.col-lg-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.col-xl-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}

}
@media (min-width: 1366) {
	 #home1 .blue_card {
	    top: 0;
	    right: 0;
	    min-height: 55%;
	    height: max-content;
	    width: 44%;
	}
	#home1 .gray_card {
	    position: absolute;
	    top: 22%;
	    right: 40%;
	    min-height: 65%;
	    height: max-content;
	    width: 40%;
	}
	#home1 .gray_card .text h1 {
	    font-size: 55px;
	    font-weight: 700;
	}
	/*==================================*/
	.col-lg-3 {
	    -ms-flex: 0 0 25%!important;
	    flex: 0 0 33.333333%!important;
	    max-width: 33.333333%!important;
	}
	.col-xl-3 {
	    -ms-flex: 0 0 25%!important;
	    flex: 0 0 25%!important;
	    max-width: 25%!important;
	}
}

@media (min-width: 1600) {
	 
	/*==================================*/
	.col-lg-3 {
	    -ms-flex: 0 0 25%!important;
	    flex: 0 0 33.333333%!important;
	    max-width: 33.333333%!important;
	}
	.col-xl-3 {
	    -ms-flex: 0 0 25%!important;
	    flex: 0 0 25%!important;
	    max-width: 25%!important;
	}
}